body{
    margin: 0;
    padding: 0;
    font-family: 'Proximanova opt',sans-serif;
    overflow-x: hidden;
}


#navbar{
    /* border: 1px solid red; */
    height: 70px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    z-index: 10;
}
#navbar>div{
    width: 75%;
    height: 100%;
    margin: auto;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar>div>div>img{
    width: 68%;
}
#navbar>div>#navbar-menu{
    /* border: 1px solid green; */
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#navbar-menu>:nth-child(1){
    width: 58%;
    /* border: 1px solid gray; */
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    color: #4c4d5f;
}

#navbar-menu>:nth-child(2){
    /* border: 1px solid teal; */
    width: 33%;
    height: 50%;
   
}

#navbar-menu>:nth-child(2)>:nth-child(1){
    height: 100%;
    width: 33%;
    color: rgb(0,178,137);
    border: 1px solid rgb(0,178,137);
    background-color: #fff;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
}

#navbar-menu>:nth-child(2)>:nth-child(1):hover{
   background-color: rgb(0,178,137);
   color: white;
}
#navbar-menu>:nth-child(2)>:nth-child(2){
    height: 100%;
    width: 50%;
    margin-left: 10px;
    color: #fff;
    background-color: rgb(0,178,137);
    border: 1px solid rgb(0,178,137);
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
}

#navbar-menu>:nth-child(2)>:nth-child(2):hover{
    background-color: rgb(2, 151, 116);
}

@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}
h1{
    font-family: "Amerigo BT"; src: url("//db.onlinewebfonts.com/t/ab9e8eea3710ad4417e4a318556bc614.eot"); src: url("//db.onlinewebfonts.com/t/ab9e8eea3710ad4417e4a318556bc614.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ab9e8eea3710ad4417e4a318556bc614.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ab9e8eea3710ad4417e4a318556bc614.woff") format("woff"), url("//db.onlinewebfonts.com/t/ab9e8eea3710ad4417e4a318556bc614.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ab9e8eea3710ad4417e4a318556bc614.svg#Amerigo BT") format("svg"); 
    font-weight: 100;
}

p{
    font-weight: lighter;
}
